@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  font-weight: 300, 400 & italic
*/

html, body {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}